@charset "UTF-8";

#lg {
	text-align: center;
	margin: 10% auto;
	width: 500px;
	background-image: url(../img/login/bg.png);
}

#lg #theme {
	padding-top: 20px;
	margin-right: 20px;
	text-align: right;
}

#lg #theme select {
	background: url("../img/login/bc.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	height: 30px;
	vertical-align: middle;
	height: 30px;
}

table {
	display: inline-block;
	margin: 0 auto;
}

form {
	display: inline-block;
	padding: 10px;
	width: 350px;
	padding: 25px;
}

form label {
	font-size: 25px;
}

input {
	height: 30px;
	vertical-align: middle;
	border: none;
}

.inpu {
	background: url("../img/login/userinput.png") no-repeat;
	background-size: 100% 100%;
	text-indent: 30px;
	margin-left: 20px;
}

#view_psw {
	zoom: 180%;
	vertical-align: middle;
}

#checkCode {
	width: 92px;
}

th {
	text-align: right;
}

td {
	text-align: left;
}

.picture {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

/* 验证码 */
#checkNode {
	background: #686868;
	background-size: 100% 100%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	font-family: 黑体;
	font-size: 23px;
	color: #ff00ff;
	width: 85px;
	/* 不允许选中/复制 */
	-webkit-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.op {
	text-align: center;
	width: 125px;
	height: 40px;
	font-size: 25px;
	letter-spacing: 5px;
	width: 100px;
}